<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <script src="/htmx.min.js"></script>
        <script src="/hyperscript.min.js"></script>
        <link rel="stylesheet" href="/wxyz.css" />
        <title>Hydrohomies</title>
    </head>

    <body>
        <header></header>
        <main>
            <h1>Rainline - Water Distribution</h1>
            <h2>Chris Dowd, David Battiston, and William Vickers</h2>

            <div>
                <button class="valve-button" hx-get="/s-one/">Valve 1</button>
                <button class="valve-button" hx-get="/s-two/">Valve 2</button>
            </div>

            <p>undo cache</p>
        </main>
        <footer>&copy; 2024</footer>
    </body>
</html>
